/* OTHER STYLES */
@import url(../styles-css/icons.css);
@import url(../styles-css/structure.css);


/* MAIN */
main{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.3;
}
section{
    margin: 3% 0;
}

/* section-1 */
section#s-1{
    width: 100%;
}
section#s-1 > p{
    padding-top: 2%;
}
img#legend{
    width: 25%;
    float: left;
    border-radius: 5%;
    margin: 1%;
}
.honeycat{
    color: #F39E3A;
}
.honeycat:hover{
    text-decoration: underline wavy #F39E3A;
}

/* section-2 */
section#s-2{
    width: 50%;
    height: 40vh;
    float: right;
    border-radius: 50%;
    background-image: url(../img/cat/musa.png);
    background-size: cover;
    background-position-y: 39%;
}
