/* OTHER STYLES */
@import url(../styles-css/icons.css);
@import url(../styles-css/structure.css);

/* MAIN */
main{
    line-height: 1.3;
    font-size: 1.1rem;
    text-align: center;
}
/* general-info */
big{
    font-weight: bold;
    font-size: 1.2rem;
}
/* main-players & last-structures*/ 
.two-descrs-two-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: max-content, min-content;
    width: 70%;
    margin: 0 auto;
    border-radius: 0.4em;
    gap: 1em;
    justify-content: space-evenly;
    justify-items:center;
    align-items: start;
}
.descr-1{
    grid-column: 1;
    grid-row: 1;
}
.descr-2{
    grid-column: 2;
    grid-row: 1;
}
.img-1{
    grid-column: 1;
    grid-row: 2;
}
.img-2{
    grid-column: 2;
    grid-row: 2;
}
.two-descrs-two-imgs img{
    width:100%;
    height:100%;
}
/* honeycat-legend */
#sticky{
    text-decoration: underline wavy #F39E3A;
}
#honeycat-legend > p{
    margin: 0 auto;
    width: 60%;
    text-align: left;
}
#scary-alert{
    width: 7%;
    height: 7%;
    border-radius: 3em;
    float: left;
    margin-right: 1em;
}


/* ICONS */

/* MEDIA REQUESTS */
@media (max-width: 1056px){
    section{
        font-size: 9px;
    }
    big{
        font-size: 0.7rem;
    }
}