/* OTHER STYLES */
@import url(../styles-css/icons.css);
@import url(../styles-css/structure.css);

/* MAIN */
main{
    width: 85%;
    margin: 0 auto;
    font-size: 2rem;
}
/* section-1 */
section#s-1{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#musa-img{
    border: #F5ED43 0.5rem dotted;
    border-radius: 10%;
    background-image: url(../img/cat/musa.png);
    background-clip: border-box;
    background-size: cover;
    width: 80%;
    height: 70vh;
}

/* section-2 */
section#s-2{
    width: 50%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/chick/chicken_template.png);
    background-clip: text;
    background-size: cover;
    background-position-y: 49%;
    color: transparent;
    font-family: "Impact";
    font-size: 9em;
    font-weight: bold;
}